/*Allgemeine Style-Anpassungen*/

body {
    font-family: Arial;
}

h1, h2, p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.bold-label {
	font-weight:bold;
}

.link {
	text-decoration: none;
    color: black;
    font-style: italic;
}

.input-field {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.inputTextareaStyle {
    width: 300px;
    height: 200px;
}
.flex-header {
    display:flex;
    justify-content: center;
    align-items: center;
}
#icon {
	width:25px;
}

#titel {
    text-align: center;
    font-size: 150%;
}

#kopf_links {
    margin-right: 5%;
    width: 450px;
}


/* Buttons */
.ui-selectonebutton .ui-button {
    height: 80px; /* Höhe der Knöpfe */
    margin: 5px; /* Abstand zwischen den Knöpfen */
    border: 2px solid #333 !important; /* Dunkler Rand (important, um vorhandene Stile zu überschreiben) */
    width: 46%; /* Breite der Knöpfe */
    float: left; /* Anordnung der Knöpfe nebeneinander */
    text-align: center;
    display: flex; /* Flexbox verwenden */
    align-items: center; /* Text vertikal zentrieren */
    justify-content: center; /* Text horizontal zentrieren */
}

.ui-selectonebutton .ui-button:nth-child(odd) {
    clear: both; /* Neue Reihe nach jedem ungeraden Knopf */
}

.ui-selectonebutton .ui-button:focus {
    box-shadow: none !important; /* Blauen Schatten entfernen */
}

@media screen and (max-width: 600px) {
  .ui-selectonebutton .ui-button {
    width: 100%; /* Bei Bildschirmen kleiner als 600px die volle Breite */
  }
}

.button-container{
    margin-right: 10px;
}
.button-header {
	font-size:20px;
}
.button-header-left {
	font-size:20px;
	margin-right: 10px;
}
.button {
    display: flex;
    justify-content: center;
}
.ui-selectonebutton {
    cursor: pointer; /* Ändert den Mauszeiger in einen Zeiger */
    user-select: none; /* Verhindert die Auswahl des Textinhalts */
    -moz-user-select: none; /* Für Firefox */
    -ms-user-select: none; /* Für Internet Explorer/Edge */
    -webkit-user-select: none; /* Für ältere Webkit-basierte Browser */
}




/* Tabellen */
.fragenkatalog-id-table {
	width: 25px;
}
.fragenkatalog-module-short-niveau-table {
	width: 65px;
}
.fragenkatalog-module-table {
	width: 85px;
}

.fragenkatalog-username-table {
	width: 100px;
}

.fragenkatalog-edit-table {
	width: 60px;
	text-align: center;
}

.flex-tabelle {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-panelgrid {
	display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	border: 1px solid #ddd;
    border-collapse: collapse;
}

.custom-panelgrid td, .custom-panelgrid tr {
    border: 1px solid #ddd;
    padding: 8px;
}


th, td {
    border: 1px solid grey;
    padding: 10px;
    padding-left: 8px;
}

th {
    text-align: left;
    background-color: #CCC;
}


/* Fehlermeldungen */
.error {
    color:red;
}
