body {
    font-family: Arial;
}

.bold-label {
	font-weight:bold;
}

.input-field {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.inputTextareaStyle {
    width: 300px;
    height: 200px;
}


.fragenkatalog-id-table {
	width: 25px;
}
.fragenkatalog-module-short-niveau-table {
	width: 65px;
}
.fragenkatalog-module-table {
	width: 85px;
}

.fragenkatalog-username-table {
	width: 100px;
}

.fragenkatalog-edit-table {
	width: 60px;
	text-align: center;
}

.button-container{
    margin-right: 10px;
}

.flex-header {
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex-tabelle {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#icon {
	width:25px;
}

.button {
    display: flex;
    justify-content: center;
}

#titel {
    text-align: center;
    font-size: 150%;
}

#kopf_links {
    margin-right: 5%;
    width: 450px;
}


h1, p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    border: 1px solid grey;
    padding: 10px;
    padding-left: 8px;
}

th {
    text-align: left;
    background-color: #CCC;
}

.error {
    color:red;
}
