/*Allgemeine Style-Anpassungen*/

body {
    font-family: Arial;
}

h1, h2, p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.bold-label {
	font-weight:bold;
}

.link {
	text-decoration: none;
    color: black;
    font-style: italic;
}

.input-field {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.inputTextareaStyle {
    width: 300px;
    height: 200px;
}

.button-container{
    margin-right: 10px;
}


.flex-header {
    display:flex;
    justify-content: center;
    align-items: center;
}
#icon {
	width:25px;
}

.button {
    display: flex;
    justify-content: center;
}

#titel {
    text-align: center;
    font-size: 150%;
}

#kopf_links {
    margin-right: 5%;
    width: 450px;
}


/* Tabellen */
.fragenkatalog-id-table {
	width: 25px;
}
.fragenkatalog-module-short-niveau-table {
	width: 65px;
}
.fragenkatalog-module-table {
	width: 85px;
}

.fragenkatalog-username-table {
	width: 100px;
}

.fragenkatalog-edit-table {
	width: 60px;
	text-align: center;
}

.flex-tabelle {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-panelgrid {
	display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	border: 1px solid #ddd;
    border-collapse: collapse;
}

.custom-panelgrid td, .custom-panelgrid tr {
    border: 1px solid #ddd;
    padding: 8px;
}


th, td {
    border: 1px solid grey;
    padding: 10px;
    padding-left: 8px;
}

th {
    text-align: left;
    background-color: #CCC;
}


/* Fehlermeldungen */
.error {
    color:red;
}
